<p>1. Обычная таблица</p>
<table border="2" align="center" width="400px">
  <thead>
      <td>Параметр</td>
      <td>Результат</td>
  </thead>
  <tr>
    <td>&amp;amp;</td>
    <td>&amp;</td>
  </tr>
  <tr>
    <td>&amp;lt;</td>
    <td>&lt;</td>
  </tr>
  <tr>
    <td>&amp;gt;</td>
    <td>&gt;</td>
  </tr>
  <tr>
    <td>&amp;quot;</td>
    <td>&quot;</td>
  </tr>
  <tr>
    <td>&amp;nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>2. Таблица с объединением ячеек</p>
<table border="2" align="center" width="600px">
  <tr bgcolor="gray">
    <td>ПН</td>
    <td>ВТ</td>
    <td>СР</td>
    <td>ЧТ</td>
  </tr>
  <tr>
    <td bgcolor="gray">1</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td bgcolor="gray">2</td>
    <td>Лекция Х</td>
    <td align="center" rowspan="2"><img src="img/ie.jpg" alt="ie" width="60" height="60"></td>
    <td></td>
  </tr>
  <tr>
    <td bgcolor="gray">3</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td bgcolor="gray">4</td>
    <td>Лекция Y</td>
    <td></td>
    <td></td>
  </tr>
</table>
<p>3. Нестандартное применение таблиц - для построение диаграм</p>
<table align="center">
  <tr>
    <td style="vertical-align:bottom;">
      <div style="height:40px; background-color:red;">
    </td>
    <td style="vertical-align:bottom;">
      <div style="height:100px; background-color:green;"></div>
    </td>
    <td style="vertical-align:bottom;">
      <div style="height:30px; background-color:blue;"></div>
    </td>
  </tr>
  <tr>
    <td>Июль</td>
    <td>Август</td>
    <td>Сентябрь</td>
  </tr>
</table>
