<h1>Заголовок первого уровня</h1>
<h2>Заголовок второго уровня</h2>
<hr>
<p><font size="22"><b>Разные</b></font> <i>виды</i> <font color="red">шрифтового</font> выделния текста</p>
<p>Верхние и нижние индексы H<sub>2</sub>SO<sub>4</sub>, 5<sup>2</sup>=25</p>
<p>Рисунок может выравниваться <img align="center" src="img/SHIPPING.BMP" alt="Рис"> по центру текста</p>
<p>по верхнему <img align="top" src="img/SHIPPING.BMP" alt="Рис"></p>
<p>по нижнему <img align="bottom" src="img/SHIPPING.BMP" alt="Рис"></p>
<p>А это видеоклип: <video src="img/videoplayback.mp4" autoplay controls></video></p>
