@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic-ext");
body {
  font-family: 'Roboto', sans-serif; }

#groups p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px; }

#groups a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #3953ff;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

#groups a:hover {
  color: #f64444; }

#cart .cart-clear {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #3953ff;
  font-size: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

#cart a:hover {
  color: #f64444; }

#cart table {
  margin-top: 20px;
  width: 100%; }
  #cart table tr {
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
  #cart table tr:nth-child(even) {
    background: #fff; }
  #cart table tr:nth-child(odd) {
    background: #cdcdcd; }
  #cart table tr:hover {
    background-color: #79ff93 !important; }
  #cart table td {
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid #a7a7a7; }
    #cart table td a {
      margin-left: 10px;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: #3953ff; }
    #cart table td a:hover {
      color: #f64444; }

#goods table {
  width: 100%; }
  #goods table tr {
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
  #goods table tr:nth-child(even) {
    background: #fff; }
  #goods table tr:nth-child(odd) {
    background: #cdcdcd; }
  #goods table tr:hover {
    background-color: #79ff93 !important; }
  #goods table td {
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid #a7a7a7; }
    #goods table td a {
      margin-left: 10px;
      color: #3953ff;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    #goods table td a:hover {
      color: #f64444; }
