@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic-ext');

body{
  font-family: 'Roboto', sans-serif;
}

#groups{
  p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
  }
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #3953ff;
    font-size: 18px;
    transition: 0.3s;
  }
  a:hover{
    color: #f64444;
  }
}

#cart{
  .cart-clear{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #3953ff;
    font-size: 24px;
    transition: 0.3s;
  }
  a:hover{
    color: #f64444;
  }
  table{
    margin-top: 20px;
    width: 100%;
    tr{
      background: #fff;
      transition: 0.3s;
      cursor: pointer;
    }
    tr:nth-child(even){
      background: #fff;
    }
    tr:nth-child(odd){
      background: #cdcdcd;
    }
    tr:hover{
      background-color: #79ff93 !important;
    }
    td{
      font-weight: bold;
      padding: 15px;
      border-bottom: 2px solid #a7a7a7;
      a{
        margin-left:10px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s;
        color: #3953ff;
      }
      a:hover{
        color: #f64444;
      }
    }
  }
}

#goods{
  table{
    width: 100%;
    tr{
      background: #fff;
      transition: 0.3s;
      cursor: pointer;
    }
    tr:nth-child(even){
      background: #fff;
    }
    tr:nth-child(odd){
      background: #cdcdcd;
    }
    tr:hover{
      background-color: #79ff93 !important;
    }
    td{
      font-weight: bold;
      padding: 15px;
      border-bottom: 2px solid #a7a7a7;
      a{
        margin-left:10px;
        color: #3953ff;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s;
      }
      a:hover{
        color: #f64444;
      }
    }
  }
}
