@import url("https://fonts.googleapis.com/css?family=Lobster|Noto+Serif:400,700|Roboto:400,700&subset=cyrillic-ext");
body {
  background-color: #ececec;
  font-size: 20px;
  color: #000;
  font-family: 'Roboto', sans-serif; }

p {
  text-align: justify;
  text-indent: 10px; }

p::first-letter {
  color: red;
  font-weight: bold;
  font-size: 130%; }

a {
  color: #0036bf;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #020058; }

a:active {
  color: #f95353; }

#collage {
  width: 100%;
  height: 100%; }
  #collage .wrapper {
    width: 100%;
    height: 100%;
    position: relative; }
    #collage .wrapper h1 {
      text-align: center; }
    #collage .wrapper img {
      width: 500px;
      height: auto;
      position: absolute; }
    #collage .wrapper .ny1 {
      top: 100px;
      left: 100px;
      z-index: 10; }
    #collage .wrapper .ny2 {
      top: 100px;
      right: 100px;
      z-index: 9; }
    #collage .wrapper .ny3 {
      top: 400px;
      left: 100px;
      z-index: 6; }
    #collage .wrapper .ny4 {
      top: 400px;
      right: 100px;
      z-index: 7; }
    #collage .wrapper .ny5 {
      width: 700px;
      top: 200px;
      left: 450px;
      z-index: 8; }

#changer .changer {
  font-size: 24px; }
  #changer .changer select {
    font-size: 24px; }

#changer .red {
  color: red !important; }

#changer .green {
  color: green !important; }

#changer .blue {
  color: blue !important; }

#changer .roboto {
  font-family: 'Roboto', sans-serif !important; }

#changer .noto {
  font-family: 'Noto Serif', serif !important; }

#changer .lobster {
  font-family: 'Lobster', cursive !important; }

#sidebar {
  background-image: url("img/gr.jpg");
  overflow: hidden; }
  #sidebar div {
    width: 100%;
    height: 100%;
    margin-top: 24px; }
  #sidebar a {
    color: #fff; }
