@import url('https://fonts.googleapis.com/css?family=Lobster|Noto+Serif:400,700|Roboto:400,700&subset=cyrillic-ext');

body{
  background-color: #ececec;
  font-size: 20px;
  color: #000;

  font-family: 'Roboto', sans-serif;
  //font-family: 'Noto Serif', serif;
  //font-family: 'Lobster', cursive;
}

p{
  text-align: justify;
  text-indent: 10px;
}
p::first-letter{
  color: red;
  font-weight: bold;
  font-size: 130%;
}

a{
  color:#0036bf;
  text-decoration: none;
  transition: 0.3s;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  color:#020058;
}
a:active{
  color:#f95353;
}

#collage{
  width: 100%;
  height: 100%;
  .wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    h1{
      text-align: center;
    }
    img{
      width: 500px;
      height: auto;
      position: absolute;
    }
    .ny1{
      top: 100px;
      left: 100px;
      z-index: 10;
    }
    .ny2{
      top: 100px;
      right: 100px;
      z-index: 9;
    }
    .ny3{
      top: 400px;
      left: 100px;
      z-index: 6;
    }
    .ny4{
      top: 400px;
      right: 100px;
      z-index: 7;
    }
    .ny5{
      width: 700px;
      top: 200px;
      left: 450px;
      z-index: 8;
    }
  }
}

#changer{
  .changer{
    font-size: 24px;
    select{
        font-size: 24px;
    }
  }
  .red{
    color: red !important;
  }
  .green{
    color: green !important;
  }
  .blue{
    color: blue !important;
  }
  .roboto{
    font-family: 'Roboto', sans-serif !important;
  }
  .noto{
    font-family: 'Noto Serif', serif !important;
  }
  .lobster{
    font-family: 'Lobster', cursive !important;
  }
}

#sidebar{
  background-image:url('img/gr.jpg');
  overflow:hidden;
  div{
    width:100%;
    height:100%;
    margin-top:24px;
  }
  a{
    color: #fff;
  }
}
